# This file is intended as template, please adjust the values before activating it on your system
## To enable it, run following command: cp env.template .env
AUTH_URL=${AUTH_URL}
CLIENT_ID=${CLIENT_ID}
REDIRECT_URI=${REDIRECT_URI}
LOGOUT_URI=${LOGOUT_URI}