# This file is intended as template, please adjust the values before activating it on your system
## To enable it, run following command: cp env.template .env
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/negotiator
SPRING_DATASOURCE_USERNAME=negotiator
SPRING_DATASOURCE_PASSWORD=negotiator
SPRING_DATASOURCE_INITIALIZE=true
SPRING_DATASOURCE_DATA=
SPRING_DATASOURCE_INITIALIZATIONMODE=always 
SPRING_JPA_DEFERDATASOURCEINITIALIZATION=true
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_USERINFOURI=https://login.bbmri-eric.eu/oidc/userinfo 
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI=https://login.bbmri-eric.eu/oidc
NEGOTIATOR_FRONTENDURL=negotiator.localhost
NEGOTIATOR_AUTHORIZATION_CLAIM=eduperson_entitlement
NEGOTIATOR_AUTHORIZATION_ADMINCLAIMVALUE=urn:geant:bbmri-eric.eu:group:bbmri:negotiator_v3:admins#perun.bbmri-eric.eu
NEGOTIATOR_AUTHORIZATION_RESEARCHERCLAIMVALUE=urn:geant:bbmri-eric.eu:group:bbmri:negotiator_v3:researchers#perun.bbmri-eric.eu 
NEGOTIATOR_AUTHORIZATION_BIOBANKERCLAIMVALUE=urn:geant:bbmri-eric.eu:group:bbmri:negotiator_v3:biobankers#perun.bbmri-eric.eu
NEGOTIATOR_AUTHORIZATION_SUBJECTCLAIM=preferred_username
