# This file is intended as template, please adjust the values before activating it on your system
## To enable it, run following command: cp env.template .env
AUTH_URL=https://login.bbmri-eric.eu/
CLIENT_ID=
REDIRECT_URI=http://negotiator.localhost/login
LOGOUT_URI=http://negotiator.localhost
