# This file is intended as template, please adjust the values before activating it on your system
## To enable it, run following command: cp env.backend.template .env.backend
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_INITIALIZE=
SPRING_DATASOURCE_DATA=
SPRING_DATASOURCE_INITIALIZATION-MODE=
SPRING_JPA_DEFER-DATASOURCE-INITIALIZATION=true
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_USER-INFO-URI=
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI=
NEGOTIATOR_FRONTEND_URL=
NEGOTIATOR_AUTHORIZATION_CLAIM=
NEGOTIATOR_AUTHORIZATION_ADMIN-CLAIM-VALUE=
NEGOTIATOR_AUTHORIZATION_RESEARCHER-CLAIM-VALUE=
NEGOTIATOR_AUTHORIZATION_BIOBANKER-CLAIM-VALUE=
NEGOTIATOR_AUTHORIZATION_SUBJECT-CLAIM=