# This file is intended as template, please adjust the values before activating it on your system
## To enable it, run following command: cp env.backend.template .env.backend
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_INITIALIZE=
SPRING_DATASOURCE_DATA=
SPRING_DATASOURCE_INITIALIZATIONMODE=
SPRING_JPA_DEFERDATASOURCEINITIALIZATION=
SPRING_JPA_HIBERNATE_DDL_AUTO=
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_USERINFOURI=
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI=
NEGOTIATOR_FRONTENDURL=
NEGOTIATOR_AUTHORIZATION_CLAIM=
NEGOTIATOR_AUTHORIZATION_ADMINCLAIMVALUE=
NEGOTIATOR_AUTHORIZATION_RESEARCHERCLAIMVALUE=
NEGOTIATOR_AUTHORIZATION_BIOBANKERCLAIMVALUE=
NEGOTIATOR_AUTHORIZATION_SUBJECTCLAIM=