# This file is intended as template, please adjust the values before activating it on your system
## To enable it, run following command: cp env.template .env
POSTGRES_USER=negotiator
POSTGRES_PASSWORD=negotiator
POSTGRES_DB=negotiator